@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  
  /* https://developer.mozilla.org/en-US/docs/Web/CSS/scrollbar-gutter */
  scrollbar-gutter: stable;
}

/* Custom scrollbar styles */
::-webkit-scrollbar {
  @apply w-2;
}

::-webkit-scrollbar-track {
  @apply bg-transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-zinc-300 hover:bg-zinc-400;
}
